table {
    padding: 0px;
    margin: 0;
    border: 1px solid #666666;
}

table.aqhiScale {
    padding: 0px;
    margin: 0;
    border-spacing: 0;
    font: inherit;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    width: 100%;
}

table.aqhiScale .legend-text td {
    color: rgb(28, 28, 28);
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
}
td {
    border: 1px solid #FFF;
    text-align: center;
    padding: 1px 2px;
    font-style: normal;
    padding-top: 6px;
    padding-bottom: 4px;
}

td.left {
    text-align: left;
}

.aqhi1 {
    background-color: #00ccff;
    font-weight: bold;
    color: #FFFFFF;
}

.aqhi2 {
    background-color: #0099cc;
    font-weight: bold;
    color: #FFFFFF;
}

.aqhi3 {
    background-color: #006699;
    font-weight: bold;
    color: #FFFFFF;
}

.aqhi4 {
    background-color: #ffff00;
    font-weight: bold;
    color: #000000;
}

.aqhi5 {
    background-color: #ffcc00;
    font-weight: bold;
    color: #000000;
}

.aqhi6 {
    background-color: #ff9933;
    font-weight: bold;
    color: #000000;
}

.aqhi7 {
    background-color: #ff6666;
    font-weight: bold;
    color: #FFFFFF;
}

.aqhi8 {
    background-color: #ff0000;
    font-weight: bold;
    color: #FFFFFF;
}

.aqhi9 {
    background-color: #cc0000;
    font-weight: bold;
    color: #FFFFFF;
}

.aqhi10 {
    background-color: #990000;
    font-weight: bold;
    color: #FFFFFF;
}

.aqhi11 {
    background-color: #660000;
    font-weight: bold;
    color: #FFFFFF;
}

.aqhiNA {
    background-color: #EBEBEB;
    font-weight: bold;
    color: #FFFFFF;
}

td.aqhiRisk {
    color: #000000;
    font-weight: bold;
}


#aqhiContent {
    width: 100%;
}

th {
    text-align: center;
}

.clearAll {
    clear: both;
}